@page "{searcharg?}"
@model TrainWebApp.Pages.QueryModel
@{
    ViewData["Title"] = "Rolling Stock Data";
}
   

<h1>Rolling Stock Data</h1>

<p style="color: red; text-decoration:underline; font-weight:700;">@Model.Feedback1</p>
<p style="color: red; text-decoration:underline; font-weight:700;">@Model.Feedback2 </p>

<form method="post">
    <label>
        Enter a partial Reporting Mark:
        <input type="text" asp-for="searcharg"
               placeholder="enter your reporting mark" />
    </label>
    <br />
     <label>
        Select a Car Type:
        <select asp-for="ID">
           
            <option value="0">select ... </option>
            <option value="1">Autorack</option>
            <option value="2">Boxcar</option>
            <option value="3">Centerbeam</option>
            <option value="4">Covered Hopper</option>
            <option value="5">Coil Car</option>
            <option value="6">Flatcar</option>
            <option value="7">Gondola</option>
            <option value="8">Intermodal Equipment</option>
            <option value="9">Refrigerated Boxcar</option>
            <option value="10">Open-Top Hopper</option>
            <option value="11">Tank Car</option>
            <option value="12">Well Car</option>
             @* @foreach(var item in Model.RailCarTypeList)
           {
               <option value="@item.RailCarTypeId">@item.Name</option>
           }*@

        </select>
      </label>


      <br />
         <button type="submit" asp-page-handler="Fetch">Fetch</button>&nbsp;&nbsp;
         <button type="submit" asp-page-handler="Select">Search by type</button>&nbsp;&nbsp;
         <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>

         <br />

    @if (Model.RollingStockInfo != null)
        {
            if (Model.RollingStockInfo.Count < 1)
            {
                <p style="color: red; text-decoration:underline; font-weight:700;">"No match found for your search";</p>
                <br />
            }

            else
            {
                <table>
                    <thead>
                        <tr>
                            <th>Reporting Mark</th>
                            <th>Owner</th>
                            <th>Capacity</th>
                            <th>In Service</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                        @foreach (var item in Model.RollingStockInfo)
                        {
                            <tr>
                                <td>@item.ReportingMark</td>
                                <td>@item.Owner</td>
                                <td>@item.Capacity</td>
                                <td>@item.InService</td>
                            </tr>
                        }
                    </tbody>
                 </table>
             }
          }
<br/>
    
</form>

