@page "{programid?}"
@model A03WebApp.Pages.CRUDModel
@{
    ViewData["Title"] = "CRUD";
}
@if (@Model.programid != null)
{
<h1>CRUD Page: Maintenance for Program ID: @Model.programid</h1>
}
else
{
    <h1>CRUD Page: Maintenance.</h1>
}

<p style="font-weight:400; font-size:30px; color:green">@Model.Feedback</p>

<style>
   :root { 
        --max-body-width: 60rem;
    }

    .setflex {
        display: flex;
    }

    .onethird{
        width: 31%;
        margin-right: 2%;
    }

    .onehalf {
        width: 47%;
        margin-right: 3%;
    }

    .smallbox {
        width: 60px;
    }

    button {
    margin-top: 1rem
    }
</style>

@section Scripts{
    <partial name="_validationScriptsPartial" />
}


<form method="post">
<label>
     Program ID:
        @if (Model.ProgramByID == null)
        {
            <input type="number" asp-for="ProgramByID.ProgramID" readonly data-val="false" value="">
        }
        else
        {
            <input type="number" asp-for="ProgramByID.ProgramID" readonly data-val="false">

        }

    <span asp-validation-for="ProgramByID.ProgramID"></span>
</label>  

<label>
    Program Name:
    <input type="text" asp-for="ProgramByID.ProgramName" placeholder="Program Name" />
    <span asp-validation-for="ProgramByID.ProgramName"></span>
</label>

<label>
    Diploma Name:
    <input type="text" asp-for="ProgramByID.DiplomaName" placeholder="Diploma Name">
    <span asp-validation-for="ProgramByID.DiplomaName"></span>
</label>

<label> 
    School Code:
    <input type="text" asp-for="ProgramByID.SchoolCode" placeholder="School Code">
    <span asp-validation-for="ProgramByID.SchoolCode"></span>
</label>

<label>
    School Name:
    <select>
    @foreach(var schools in Model.SchoolsList)
        {
                <option value="@schools.SchoolName" selected=@(Model.SchoolsList != null)>
                    @schools.SchoolName
                </option>
        }
        </select>
</label>

<label>
    Tution Fee:
    <input type="number" asp-for="ProgramByID.Tuition" placeholder="Tuition Fee">
    <span asp-validation-for="ProgramByID.Tuition"></span>
</label>

<label>
    International Tution Fee:
    <input type="number" asp-for="ProgramByID.InternationalTuition" placeholder="International Tution Fee">
    <span asp-validation-for="ProgramByID.InternationalTuition"></span>
</label>

 @if (Model.programid != null)
    {
        <button type="submit" asp-page-handler="New" disabled>Save New</button>
        <button type="submit" asp-page-handler="Update">Update</button>

        <button type="submit" asp-page-handler="Delete" formnovalidate
                onclick="return confirm('Are you sure you wish to remove the Program?')">
            Delete
        </button>
        <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
        <button type="submit" asp-page-handler="Search" formnovalidate>Search</button>
    }
    else
    {
    <button type="submit" asp-page-handler="New">Save New</button>
    <button type="submit" asp-page-handler="Update" disabled>Update</button>

    <button type="submit" asp-page-handler="Delete" formnovalidate disabled
            onclick="return confirm('Are you sure you wish to remove the Program?')">
        Delete 
    </button>
    <button type="submit" asp-page-handler="Clear" formnovalidate>Clear</button>
    <button type="submit" asp-page-handler="Search" formnovalidate>Search</button>
    }
    </form>


   